body {
  background-color: blanchedalmond;
  font-size: larger;
}
fieldset {
  width: 80%;
  margin: auto;
  display: block;
  font-size: larger;
}
.maininput {
  width: 90%;
}
h1 {
  text-align: center;
}
.padding-5 {
  padding: 5px;
  margin: 3px;
}
.inputwidth {
  width: 27%;
}
.inputwidth-40 {
  width: 40%;
}
label {
  display: block;
  font-size: large;
  font-weight: bolder;
}
.no-bullets {
  list-style-type: none;
}
@media (min-width: 769px) {
  .maininput {
    width: 95%;
  }
  .inputwidth {
    width: 30%;
  }
}
